<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.umsl.superclickers">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:name="edu.umsl.superclickers.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".activity.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.quiz.QuizActivityUser">
        </activity>

        <activity android:name=".activity.quiz.QuizActivityGroup">
        </activity>

        <activity android:name=".activity.login.RegisterActivity">
        </activity>

        <activity android:name=".activity.home.HomeActivity">
        </activity>

        <activity android:name=".activity.home.QuizPickActivity">
        </activity>

        <activity android:name=".activity.home.GroupActivity">
        </activity>

        <activity android:name=".activity.waitingroom.WaitingRoomActivity">
        </activity>

        <activity android:name=".activity.quiz.QuizReviewActivityUser">
        </activity>

        <activity android:name=".activity.quiz.QuizResultActivityGroup">
        </activity>

        <service
            android:name=".activity.quiz.helper.QuizService"
            android:label="@string/quiz_service">
        </service>

    </application>

</manifest>