<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.umsl.hester.superclickers">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:name="edu.umsl.hester.superclickers.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".activity.login.LoginActivity"
                    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.quiz.QuizActivity"
        android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.login.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.home.HomeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.home.GroupActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>